<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ service_name }} | {{ task_name }}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/shuggle.css')}}">
    </head>
    <body>
        {{menu}}

        <div class="container col-11">
            <h1>処理モジュール(*.py)の提出 | {{ task_name }}</h1>
        </div>

        <br>

        <div class="container col-11">
            <h2>A. 提出</h2>
        </div>

        {% if upload_enabled %}
        <div class="container col-11">
            <form action="" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="user_id" value="{{user_id}}">
                <input type="hidden" name="user_key" value="{{user_key}}">
                <div class="row">
                    <div class="col-12">
                        <h5>アップロードするファイルを 選択/ドラッグ&ドロップ してアップロードボタンをクリックしてください：</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 d-flex align-items-end text-right justify-content-end d-flex align-items-center">
                        .pyファイル
                    </div>
                    <div class="col-10">
                        <input type="file" name="file" class="w-100 p-3 form-control-lg" accept=".py"><br>
                    </div>
                </div>
                {% if attachment %}
                <div class="row">
                    <div class="col-2 d-flex align-items-end text-right justify-content-end d-flex align-items-center">
                        添付ファイル
                    </div>
                    <div class="col-10">
                        <input type="file" name="attachment" class="w-100 p-3 form-control-lg"><br>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-2 d-flex align-items-end text-right justify-content-end d-flex align-items-center">
                        メモ(20文字まで)<br>自分のみ閲覧できます
                    </div>
                    <div class="col-8">
                        <input type="text" name="memo" maxlength="20" class="w-100 p-1">
                    </div>
                    <div class="col-2">
                        <input type="submit" value="アップロード" class="w-100 p-2 form-control-lg btn btn-outline-info">
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
        
        <br>

        <div class="container col-11" style="font-size:1.5rem;">
            {{message}}
        </div>
        
        <br><br>

        <div class="container col-11">
            <h2>B. 提出するモジュールのルール</h2>
            <h3>ファイルについて</h3>
            <ul>
                <li>.pyファイルのサイズ上限は2MBです。</li>
                <li>ファイル名は任意です。拡張子は.pyとしてください。（例えば hoge.py でもOK）</li>
                <li>関数 recognition を含んでください。入力データを引数で受け取り、タスクごとに指定された型を返す関数です。</li>
                <ul>
                    <li><a href="/{{task_id}}/task">タスク説明</a>でダウンロードできる基本パックに、関数 recognition を含むサンプルコードが入っています。サンプルコードに処理を追記してアップロードするのがおすすめです。</li>
                </ul>
                {% if attachment %}
                <li>モデルパラメータなどのファイルを添付アップロードして、関数 recognition で使用することが可能です。</li>
                <ul>
                    <li>ファイルのサイズ上限は512MBです。</li>
                </ul>
                {% endif %}
            </ul>
            <h3>実装する処理について</h3>
            <ul>
                <li>1データあたり処理の制限時間は{{time_limit}}秒です。</li>
                <li>使用可能なpythonライブラリは以下です。</li>
                <ul>
                    <li>NumPy</li>
                    <li>OpenCV</li>
                    <li>Pillow(PIL)</li>
                    {% if attachment %}
                    <li>PyTorch</li>
                    <li>torchvision</li>
                    <li>scikit-learn</li>
                    {% endif %}
                </ul>
            </ul>
        </div>
        
        <br><br>

        <div class="container col-11">
            <h2>C. <span style="color:#00a497">G</span>oal達成<span style="color:#0dcaf0">★</span></h2>
            <h3>Train,Valid(,Test)すべてで<span style="color:#00a497">G</span>oal(目標値)を達成すると、<span style="color:#0dcaf0">★</span>を獲得できます</h3>
            <ul>
                <li>同じく<span style="color:#0dcaf0">★</span>を獲得している人のソースコードを閲覧できるようになります。</li>
                <li>開催期間終了後であればTestの評価結果を閲覧できるようになります。</li>
            </ul>
        </div>

        <br><br>

        <div class="container col-11">
            <h2>D. 禁止事項</h2>
            <ul>
                <li>セキュリティに関わる行為</li>
                <ul>
                    <li>サーバ上のファイルへのアクセスを試みることは禁止です。</li>
                    <li>関数外のメモリへのアクセスを試みることは禁止です。</li>
                </ul>
                <li>公序良俗に反する行為</li>
                <ul>
                    <li>提出したファイルは公開される可能性があります。</li>
                </ul>
            </ul>
        </div>

        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
    </body>
</html>
